python-telegram-bot[job-queue]==20.8
flask
sqlalchemy==2.0.25
spotipy==2.23.0
requests==2.31.0
python-dotenv==1.0.0
yt-dlp==2024.3.10
youtube-search-python
apscheduler==3.10.4
pytz==2024.1
musicxmatch_api