# Core Dependencies
python-telegram-bot[job-queue]==20.8
sqlalchemy==2.0.25
python-dotenv==1.0.0
pytz==2024.1

# Spotify
spotipy>=2.24.0

# YouTube/Music Download
spotdl==4.2.8
yt-dlp==2024.4.9  # اضافه شد - برای دانلود بهتر

# HTTP
requests>=2.32.3
aiohttp==3.9.3